<form hx-post="/add-product/"
    hx-target="this"
    hx-swap="outerHTML"
    hx-indicator="#spinner">
    <div class="mb-4">
        <label for="product-name">Name</label>
        <input type="text"
            name="name"
            id="product-name"
            class="form-control {{ if .NameErr }}is-invalid{{ end }}"
            value="{{ .Name }}"/>
        <div class="invalid-feedback">{{ if .NameErr }}{{ .NameErr.Error }}{{ end }}</div>
    </div>

    <div class="mb-3">
        <label for="product-price">Price</label>
        <input type="number"
            name="price"
            id="product-price"
            min="0" max="9999.99"
            step="0.01"
            class="form-control
                {{ if .PriceErr }}
                    is-invalid
                {{ end }}"
                value="{{ if not .PriceErr }}{{ .Price }}{{ end }}"/>
        <div class="invalid-feedback">{{ if .PriceErr }}{{ .PriceErr.Error }}{{ end }}</div>
    </div>
    <div class="mb-3">
        <label for="product-available">Product is available:</label>
        <!-- TODO: Add a bootstrap class? -->
        <input type="checkbox" name="available" id="product-available" class="" {{ if .Available }}checked{{ end }}/>
    </div>
    <button id="new-product-button" type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
        Submit
    </button>
    <div id="form-error"></div>
</form>
