<table id="product-list" class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Available</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Products }}
            {{ block "xproduct-list-element" . }}
            <tr class="{{ if not .Available }}opacity-75{{ end }} text-white ">
                <td>{{ .Name }}</td>
                <td>{{ .Price }}</td>
                <td>{{ .Available }}</td>
            </tr>
            {{ end }}
        {{ end }}
    </tbody>
</table>
